Repository mayadata-io/kubera-api-testing, pull requests merged in 2020-09, with the labels that each got.

#8 feat(build): add github action
  .github/workflows/action.yml
  eks/cleanup.sh
  eks/install_eks.sh
  eks/install_kubera_on_eks.sh
Labels: enhancement, github-action

#12 feat(checks): add Kubera on-prem checks using d-operator
  .github/workflows/action.yml
  ci/ci.yml
  eks/aws-credentials.sh
  eks/cluster.yml
  eks/create.sh
  eks/install_eks.sh
  eksctl/install.sh
  kubera/install/experiments/assert-kubera-pod.yaml
  kubera/install/experiments/assert-kubera-svc.yaml
  kubera/install/experiments/inference.yml
  kubera/install/install_kubera_on_eks.sh
  kubera/uninstall/dop-cleanup.sh
  scenarios/sanity/suite.sh
Labels: d-operator, enhancement, github-action, kubera, sanity-check

#10 feat(auth): create new user
  kubera/authentication/create_user.go
  kubera/authentication/create_user_test.go
Labels: api, auth, enhancement

#16 fix(build): remove helm repo update from kubera install script
  kubera/install/install_kubera_on_eks.sh
Labels: bug, kubera

#14 feat(assert): assert kubera services
  .github/workflows/action.yml
  Makefile
  ci/ci.yml
  kubera/install/experiments/assert-kubera-svc-ip.yaml
  kubera/install/experiments/inference.yml
  scenarios/sanity/suite.sh
Labels: d-operator, kubera, makefile, sanity-check

#13 feat(dmaas): test adding cloud provider credentials
  go.mod
  go.sum
  kubera/authentication/authentication.go
  kubera/connection/connection.go
  kubera/dmaas/credentials/add_credential.go
  kubera/dmaas/credentials/add_credential_test.go
Labels: dmaas
